<ngx-loading
  [show]="loading"
></ngx-loading>

<mat-toolbar class="px-1" style="position: fixed; top: 0px; z-index: 1; min-height: 60px; max-height: 60px; opacity: 90%;">
  <div class="mx-2 d-flex align-items-center" style="width: 100%;">
    <img title="logo" class="mb-2" style="height:24px; margin-bottom: 0 !important; padding-right: 0.5rem;" src="./assets/logo.jpg" >
    <span>POSTEIRO</span>
  </div>
  <button mat-icon-button (click)="reload()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button routerLink="/edit/new">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Setting...</span>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="h-100" style="z-index: 0; padding-top: calc(60px + 10px);">
  <div *ngIf="hasRepositorySettings" class="container-fluid main-container">

    <mat-card *ngFor="let item of items" (click)="onClickItem(item)" class="main-card">
      <mat-card-content class="d-flex flex-row align-items-center">
      <div class="d-flex flex-column justify-content-between gap-1 w-100">
        <ng-container *ngIf="item?.title != null">
          <span style="font-size: 0.7rem;">{{item.name}}</span>
          <span style="word-break: break-all;">{{item?.title}}</span>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <span style="text-align: right; font-size: 0.7rem;">{{item?.tags}}</span>
            <span style="text-align: right; font-size: 0.7rem;">{{item?.posted_at | date: 'YYYY-MM-dd HH:mm'}}</span>
          </div>
        </ng-container>
        <ng-container *ngIf="item?.title == null">
          <span style="font-size: 0.7rem;"></span>
          <span style="word-break: break-all;">{{item.name}}</span>
          <span style="text-align: right; font-size: 0.7rem;"></span>
        </ng-container>
      </div>
      <div>
        <mat-icon>arrow_forward</mat-icon>
      </div>
      </mat-card-content>
    </mat-card>

    <!-- botton margin -->
    <div style="padding-bottom: 15px;"></div>
  </div>

  <div *ngIf="!hasRepositorySettings" class="d-flex flex-column align-items-center p-2" >
    <span class="mt-4 pt-4">First of all, let’s start with repository setting. </span>
    <a class="mt-4" routerLink="/settings/repo">Go to Settings -> Repository</a>
  </div>
</div>

<ngx-scrolltop></ngx-scrolltop>
