<ngx-loading
  [show]="loading"
></ngx-loading>

<mat-toolbar class="px-1" style="position: fixed; top: 0px; z-index: 1; min-height: 60px; max-height: 60px; opacity: 90%;">
  <div class="mx-2 d-flex align-items-center" style="width: 100%;">
    <img
      title="logo"
      class="mb-2"
      style="
        height: 24px;
        margin-bottom: 0 !important;
        padding-right: 0.5rem;
        cursor: pointer;
      "
      src="./assets/logo.jpg"
      (click)="onLogoClick()"
    >
    <span *ngIf="!enableSearch">POSTEIRO</span>
    <div [hidden]="!enableSearch"style="position: relative;" class="w-100">
      <input #inputSearch
        class="w-100"
        style="
          border: none;
          border-bottom: 1px solid #343a40;
          outline: none;
          padding: 0.4rem 0.8rem;
        "
        type="text"
        placeholder="Search posts"
        [(ngModel)]="searchWord"
        (ngModelChange)="onChangeSearchWord()">
      <mat-icon
        style="
          position: absolute;
          top: 50%;
          right: 4px;
          transform: translateY(-50%);
          cursor: pointer;
        "
        (click)="onClearSearch()"
      >close</mat-icon>
    </div>
  </div>
  <button *ngIf="!enableSearch" mat-icon-button (click)="onEnableSearch()">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button (click)="reload()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Setting...</span>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="h-100" style="z-index: 0;">
  <div class="scroll-target" style="height: 60px;"></div>
  <ng-container *ngIf="hasRepositorySettings">
    <div *ngIf="error == ''" class="container-fluid main-container">


      <mat-card *ngFor="let item of items" (click)="onClickItem(item)" class="main-card">
        <mat-card-content class="d-flex flex-row align-items-center h-100">
        <div class="d-flex flex-column justify-content-between gap-1 w-100 h-100">
          <ng-container *ngIf="item?.title != null">
            <span class="card-header">{{item.name}}</span>
            <span class="card-title h-100">{{item?.title}}</span>
            <div class="card-footer">
              <div class="card-footer-tags">
                <span *ngFor="let tag of item.tags ?? []" >#{{tag}}</span>
              </div>
              <span class="card-footer-date">{{item?.posted_at | date: 'YYYY-MM-dd HH:mm'}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="item?.title == null">
            <span class="card-header"></span>
            <span class="card-title">{{item.name}}</span>
            <div class="card-footer"></div>
          </ng-container>
        </div>
        <div>
          <mat-icon>arrow_forward</mat-icon>
        </div>
        </mat-card-content>
      </mat-card>

      <!-- botton margin -->
      <div style="padding-bottom: 15px;"></div>
    </div>

    <div *ngIf="error != ''" class="d-flex flex-column align-items-center p-2" >
      <span class="mt-4 pt-4">{{error}}</span>
      <a class="mt-4" routerLink="/settings/repo">Go to Settings -> Repository</a>
    </div>

  </ng-container>

  <div *ngIf="!hasRepositorySettings" class="d-flex flex-column align-items-center p-2" >
    <span class="mt-4 pt-4">First , let’s start with repository setting. </span>
    <a class="mt-4" routerLink="/settings/repo">Go to Settings -> Repository</a>
  </div>
</div>


<button mat-fab color="primary" style="position: fixed; bottom: 1rem; right: 1rem"
  routerLink="/edit/new"
>
  <mat-icon>add</mat-icon>
</button>
