.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  cursor: pointer;
}

.main-card {
  width: 100%;
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
  }

  .main-card {
    width: calc(50% - 0.5rem - 1rem - 1rem);
  }
}

.card-header {
  word-break: break-all;
  font-size: 0.7rem;
}

.card-title {
  word-break: break-all;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
  align-items: end;
}

.card-footer-tags {
  text-align: right;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.card-footer-date {
  text-align: right;
  font-size: 0.7rem;
  flex: 1 0 auto;
}
